<ion-view title="퀵 상세정보">
	<ion-content>
		
		<div id="delivery-detail" class="list">
			<div ng-if="alert" class="item item-divider item-energized">
				<i class="icon ion-alert"></i>
				{{alert}}
			</div>
			<div class="item item-divider">
				배송정보
			</div>
			
			<a class="item item-icon-left" href="#">
				<i class="icon ion-arrow-down-a"></i>
				<h2>{{delivery.dep.title}}</h2>
				<p>{{delivery.dep.address}}</p>
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-flag"></i>
				<h2>{{delivery.dest.title}}</h2>
				<p>{{delivery.dest.address}}</p>
			</a>

			<a class="item" >
				<div class="row">
					<div class="col col-33 row">
						<div class="col">
							<p><i class="icon ion-clock"></i> {{delivery.datetime.toLocaleDateString()}}</p>
							<p>{{delivery.datetime.toLocaleTimeString()}}에 등록</p>
						</div>
					</div>
					<div class="col col-33"><h1 class="title">{{delivery.price}}원</h1></div>
					<div class="col"><span class="badge badge-assertive">{{delivery.state}}</span></div>
				</div>
			</a>

			<a ng-if="mode==='delivery-explore'" class="item item-icon-left item-icon-right" ng-click="delivery.applyAsCarrier()">
				<i class="icon ion-flash"></i>
					이 화물 운송 신청하기
				<i class="icon ion-android-arrow-forward"></i>
			</a>

			<div ng-if="mode==='send'">
				<div ng-if="delivery.state ==== '모집중' && applicants.length>0">
					<div class="item item-divider">
						이 배송에 지원한 운송인
					</div>
					<form>
						<ion-scroll class="applicants" zooming="false" direction="x" style="height: 200px">
							<ion-radio class="applicant" ng-repeat="applicant in applicants" ng-model="formData.applicantChoice" ng-value="applicant">
								{{applicant.name}}
							</ion-radio>
						</ion-scroll>
						<button class="button button-bar button-positive" ng-click="delivery.selectCarrier(formData.applicantChoice.$id)">
							이 배송인 선택하기
						</button>
					</form>
				</div>
				<div ng-if="delivery.selectedCarrier" class="item item-divider">
					이 배송에 선택된 운송인
				</div>
				<div class="item">
					{{carrier.name}}
				</div>
			</div>

			<div class="item item-divider">
				배송기록
			</div>

			<div class="item" ng-repeat="log in delivery.logs">
				<p><i class="icon ion-clock"></i> {{ log.datetime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
				{{log.message}}
			</div>

			<a ng-if="mode==='delivery-my' && delivery.state==='픽업대기중'" class="item item-icon-left item-royal" ng-click="delivery.reportPickup()">
				<i class="icon ion-checkmark-round"></i>
					화물 픽업 완료 보고하기
			</a>
			<a ng-if="mode==='delivery-my' && delivery.state==='배송중'" class="item item-icon-left item-balanced" ng-click="delivery.reportDelivery()">
				<i class="icon ion-checkmark-round"></i>
					배송 완료 보고하기
			</a>

			<a ng-if="mode==='send' && delivery.state==='모집중'" class="item item-icon-left item-assertive">
				<i class="icon ion-trash-a"></i>
					이 화물 운송 요청 삭제
			</a>
			
			<div ng-if="delivery.state==='배송완료'">
				<div class="item">
					<rating ng-model="rating.rate" max="rating.max"></rating>
				</div>
				<button ng-if="rating.rate!==0" class="button button-bar">평가 반영</button>
			</div>
		</div>
		
	</ion-content>
</ion-view>
